
body {
    font-family: "Roboto";
    background-color: #f3f3f3;
  }
  
  .game-tittle {
    font-family: "Bangers", cursive;
    text-align: center;
    font-size: 80px;
    color: rgb(13, 231, 209);
  }
  
  .tittles{
    display: flex;
    justify-content: space-evenly
  }
  
  .user-tittle,.cpu-tittle{
    font-family: "Bangers";
    text-align:left;
    color: rgb(13, 231, 209);
    
 ;
  }
  

  .board {
    justify-content: center;
    display: flex;
    margin-right: 15px;
    
  }

  .total-board{
    display: flex;
    justify-content: center;
  }

  .vertical-tags{
    padding-top: 26px;
  }

.col-tags{
  border: 1px solid black;
  height: 50px;
  width: 30px;
  margin: 1px;
  text-align: center;
  background-color: blueviolet;
  color: pink;
  font-weight: bold;
  display: block;
  text-align:center;
 
 }
  .row-tags{
   border: 1px solid black;
   height: 20px;
   width: 25px;
   margin: 1px;
   text-align: center;
   background-color: blueviolet;
   color: pink;
   font-weight: bold;
  }

   
    
   .rows {
    border: 1px solid black;
    height: 50px;
    width: 50px;
   }

   .gray-row {
    background-color: gray;
   }
   .green-row {
    background-color: green;
   }
   
   
      
 
   
   



  